.view .content {
  margin: auto;
  max-width: 1000px;

  * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

.card.autoform-array-item .item:last-child {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 9px;
  width: 100px;
}

.card.autoform-array-item input[type="text"] {
  float: left;
  padding-left: 10px;
  width: calc( 100% - 100px );
}
.flexbox {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 10px;

  @media (max-width: $modal-inset-mode-break-point ) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}