<template name="projectsShow">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{project.title}}</h1>
  {{/contentFor}}
  
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="project">
        <div class="list card">
          <div class="item item-divider">
            <h2>{{project.title}}</h2>
          </div>
          <div class="item item-text-wrap">
            <p>{{project.description}}</p>

            <br/>
            <h3>Looking For</h3>
            <div class="pills">
              {{#each project.lookingFor}}
                {{> _pill this}}
              {{/each}}
            </div>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            {{#if isOwner}}
              <a class="tab-item" href="#" data-ion-modal="_projectsEdit">Edit</a>
              <a class="tab-item" href="#" data-ion-modal="_projectsDelete">Delete</a>
            {{else}}
              <a class="tab-item" href="#" data-action="back">Back</a>
              <a class="tab-item" href="#" data-action="interested">Interested</a>
              <a class="tab-item" href="#" data-action="next">Next</a>
            {{/if}}
          </div>
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>